<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Enable iisnode to host Node.js backend -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite all API requests to server.js -->
    <rewrite>
      <rules>
        <!-- Route all API calls to Node backend -->
        <rule name="NodeAPI" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Serve static React files -->
        <rule name="ReactRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/build/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable compression and other static content features -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Logging for iisnode -->
    <iisnode loggingEnabled="true" />

  </system.webServer>
</configuration>
