.state-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top:15px;
}

h2,
h3 {
  text-align: center;
}

.state-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Flexbox for input and select in the same line */
.form-row {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between inputs */
  flex-wrap: wrap; /* Responsive layout */
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1; /* Equal width */
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.state-list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.edit-btn {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}
