.cont {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Content should expand to push footer down */
.content {
  flex: 1; /* Pushes the footer to the bottom */
}
.submenu-open {
  display: contents !important; /* Show when open */
  font-size: .7rem;  
}
.submenu-open .nav__link{
  margin-left: .9rem;
}


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  
  /*========== Colors ==========*/
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}



/*=============== BASE ===============*/


html {
  scroll-behavior: smooth;
}



h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}
li{
  
}
ul {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}




/*=============== NAV ===============*/
.nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 1.5rem;
}

.nav__link, .nav__logo, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}



/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #1A1A1A;
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}


.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}

.button-link:hover {
  background-color: transparent;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  padding: .75rem 1rem;
}

.button__icon {
  font-size: 1.5rem;
}

/*=============== MEDIA QUERIES ===============*/

@media screen and (min-width: 967px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    column-gap: 1.6rem;
  }
  .nav__toggle {
    display: none;
  }
 
}

/* For large devices */
@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }
  
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
 
}

  /* Logout Button */
  .logout-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    position: relative;
    top: -1rem;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }
  
  /* Header Styling */
  header {
    background-color: #004183; /* Darker blue */

    color: white;
    text-align: center;
    
    font-weight: bold;
    padding: rem;
    width: auto;
    height: 5rem;
  }
  header p{
    text-align: left;
    position: relative;
    bottom: 1.7rem;
    font-size: .8rem;
  }
  header h3{
    color: white;
    font-size: 1.4rem;
  }
  /* Footer Styling */
  footer {
    border-top: 1px solid #d8d8d8;
    font-size: 16px;
    color: #878787(252, 208, 127);
    background: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    
    bottom: 0;
    margin-top:initial;
  }
  
  @media (min-width: 1024px) {
    /* Ensure menu is always open */
    /* Hide hamburger menu on desktop */
    .menu-button {
      display: none;
    }
  
    .menu ul ul {
      display: none;
      position:fixed;
      background: #d3d3d3;
      padding: 0px;
      flex-direction: column;
      top: 100%;
      border-radius: .3rem;
      font-size: smaller;      
      
    }
    /* Position logout button on the right */
   
  }
  
  /* 📱 Mobile Styles (<1024px) */
  @media (max-width: 1023px) {
    .menu-button {
      display: inherit;
      font-size: 18px;
      width: fit-content;
    }
    
      .submenu {
        display: block; /* Initially hidden */
        list-style-type: none;
        padding-left: 20px;
      }
      
      .submenu-open {
        display: contents !important; /* Show when open */
        padding-top: 1px;
      }
      
      header p{
        font-size: .67rem;
      }
      
    header  footer {
        height: auto;
        padding: 10px;
        font-size: .4rem;
        width: auto;
      }
  }
